h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #0d0e0d;
    /* text-shadow: rgb(20, 20, 20) 1px 0 3px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    text-align: center;
    margin: 20px;
}

.jumbotron {
    margin: 0;
    padding: 0px;
    background-color: #f3f3eb;
    max-height: 200px;
}

.navbar {
    background-color: #f3f3eb;
}

.site-footer {
    background-image: linear-gradient(#f3f3eb, white);
    padding: 20px 0;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.month {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    border: solid 1px black;
}

.day {
    text-align: right;
    font-weight: bold;
}

.calendar {
    block-size: 50px;
    border: solid 1px black;
    font-size: 10px;
}

.calendar-days {
    border:solid 1px black;
    font-size: 8px;
}

.pic{
    width: 100px;
    margin: 20px;
}

.margin {
    margin: 25px;
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
}

@media only screen and (min-width: 600px){
    h1 {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        color: #0d0e0d;
        /* text-shadow: rgb(20, 20, 20) 1px 0 3px; */
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .month {
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }
    
    .day {
        text-align: right;
        font-weight: bold;
    }
    
    .calendar {
        block-size: 120px;
        border:solid 1px black;
        font-size: 15px;
    }

    .calendar-days {
        border:solid 1px black;
        font-size: 15px;
    }

    .pic{
        width: 200px;
        margin: 20px;
    }
}